body {
  background-color: rgba(173, 216, 230, 0.25);
}
.container {
  background-color: #fff;
}
.special {
  background-color: rgba(0, 0, 0, 0.9);
}
h3 {
  color: rgba(0, 0, 255, 0.65);
}
p {
  color: grey;
}
